<!doctype html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Blank Page - Brand</title>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <app-navbar></app-navbar>
          <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
  </body>
</html>
